<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-5">
      <div class="greating">
        <h1> Welcome <%= @guest.name %> </h2>
        <h2> please select your room temperature </h3>
      </div>
      <div>
        <span class="temps pull-left"  id="current_temp">Current: <%= @current_temp %>&deg;F</span>
        <span class="temps pull-right" id="target_temp">Target: <%= @target_temp %>&deg;F</span>
      </div>
      <%= render 'temp_requests/form' %>
    </div>
  </div>
</div>
