<%= form_for([@room_assignment, TempRequest.new], data: @room_assignment.id, remote: true) do |f| %>
<%= f.text_field(:temperature, class: "circle") %>
<div id="slider" class="slider col-md-offset-1 col-sm-offset-3"></div>
<div class="submit">
<%= f.submit('Set Temperature', class: 'submit-button', id: 'temp_request_submit') %>
</div>
<% end %>
