.edit_room_assignment {
  width: 5em;
  margin-right: 0;
  display: inline;
}

.room_assignments {
  padding-top: 4em;

  h1 {
    padding-bottom: 2em;
  }
}

.assignment {
  padding-bottom: 2em;
}

.unassigned {
  position: relative;
  top: 5em;
}

#unassigned-heading {
  font-family: 'Noto Serif', serif;
  background-image: image-url('dark-wood.jpg');
  color: white;
}

.unassigned-body {
  position: relative;
  bottom: 1.1em;

  th {
    border: 0;
  }
}

.assigned {
  position: relative;
  top: 6em;
}

.assigned-body {
  position: relative;
  bottom: 1.1em;
}

#assigned-heading {
  font-family: 'Noto Serif', serif;
  background-image: image-url('dark-wood.jpg');
  color: white;
}

.update-room {
  font-family: 'Noto San', sans-serif;
  border-radius: 0.1px;
  color: #fff;
  background: #222;
  text-decoration: none;
  border-radius: 8px;
  border: none;
}
