.greating {
  font-family: 'Noto Serif', serif;
  text-shadow: 0px 1px 1px white;
  color: #f5f5f5;
  text-align: center;
  margin-top: 4em;
}

.temps {
  font-family: 'Noto Sans', sans-serif;
  text-shadow: 0px 1px 1px white;
  color: #f5f5f5;
  font-size: 18px;
  text-align: center;
  width: 50%;
}

.submit {
  position: relative;
  top: 13em;
  text-align: center;
}

.submit-button {
  background: #404142;
  background-image: -webkit-linear-gradient(top, #404142, #1a1a1a);
  background-image: -moz-linear-gradient(top, #404142, #1a1a1a);
  background-image: -ms-linear-gradient(top, #404142, #1a1a1a);
  background-image: -o-linear-gradient(top, #404142, #1a1a1a);
  background-image: linear-gradient(to bottom, #404142, #1a1a1a);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  color: #fff;
  border-color: #404142;
  font-size: 20px;
  padding: 39px 100px 36px;
  text-decoration: none;
}

/*Slider Styles*/
.slider {
  display: flex;
  width: 24em;
  height: 1em;
  position: relative;
  top: 9em;
}

.ui-widget-content {
  background: rgb(78,165,207);
  background: -moz-linear-gradient(left, rgba(78,165,207,1) 0%, rgba(99,219,207,1) 33%, rgba(232,199,128,1) 67%, rgba(197,86,77,1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(78,165,207,1)), color-stop(33%,rgba(99,219,207,1)), color-stop(67%,rgba(232,199,128,1)), color-stop(100%,rgba(197,86,77,1)));
  background: -webkit-linear-gradient(left, rgba(78,165,207,1) 0%,rgba(99,219,207,1) 33%,rgba(232,199,128,1) 67%,rgba(197,86,77,1) 100%);
  background: -o-linear-gradient(left, rgba(78,165,207,1) 0%,rgba(99,219,207,1) 33%,rgba(232,199,128,1) 67%,rgba(197,86,77,1) 100%);
  background: -ms-linear-gradient(left, rgba(78,165,207,1) 0%,rgba(99,219,207,1) 33%,rgba(232,199,128,1) 67%,rgba(197,86,77,1) 100%);
  background: linear-gradient(to right, rgba(78,165,207,1) 0%,rgba(99,219,207,1) 33%,rgba(232,199,128,1) 67%,rgba(197,86,77,1) 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ea5cf', endColorstr='#c5564d',GradientType=1 );
}

.ui-widget-header {
  background: transparent;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: #55585f;
  border-radius: 100em;
}

.ui-slider .ui-slider-handle {
  height: 4em;
  width: 4em;
  top: -1.5em;
  -webkit-box-shadow: 0 0.25em 0.75em rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0.25em 0.75em rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.25em 0.75em rgba(0, 0, 0, 0.3);
  border: 6px solid rgba(64,69,77,1);
  cursor: pointer;
  background: rgb(86,89,97);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU2NTk2MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MDQ1NGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(86,89,97,1) 0%, rgba(64,69,77,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(86,89,97,1)), color-stop(100%,rgba(64,69,77,1)));
  background: -webkit-linear-gradient(top, rgba(86,89,97,1) 0%,rgba(64,69,77,1) 100%);
  background: -o-linear-gradient(top, rgba(86,89,97,1) 0%,rgba(64,69,77,1) 100%);
  background: -ms-linear-gradient(top, rgba(86,89,97,1) 0%,rgba(64,69,77,1) 100%);
  background: linear-gradient(to bottom, rgba(86,89,97,1) 0%,rgba(64,69,77,1) 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#565961', endColorstr='#40454d',GradientType=0 );
}

.ui-slider .ui-slider-handle:after {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  right: 7px;
  bottom: 7px;
  left: 7px;
  z-index: -1;
  -webkit-border-radius: 100em;
  -moz-border-radius: 100em;
  -ms-border-radius: 100em;
  -o-border-radius: 100em;
  border-radius: 100em;
  border: 1px solid rgba(64,69,77,.5);
  background: rgb(64,69,77);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQwNDU0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1NjU5NjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(64,69,77,1) 0%, rgba(86,89,97,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(64,69,77,1)), color-stop(100%,rgba(86,89,97,1)));
  background: -webkit-linear-gradient(top, rgba(64,69,77,1) 0%,rgba(86,89,97,1) 100%);
  background: -o-linear-gradient(top, rgba(64,69,77,1) 0%,rgba(86,89,97,1) 100%);
  background: -ms-linear-gradient(top, rgba(64,69,77,1) 0%,rgba(86,89,97,1) 100%);
  background: linear-gradient(to bottom, rgba(64,69,77,1) 0%,rgba(86,89,97,1) 100%);
  // filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#40454d', endColorstr='#565961',GradientType=0 );
}

 :focus {
  outline: none;
};
/*End Slider Styles*/
/*
*/


.circle {
  border-radius: 100em;
  display: block;
  width: 2.6em;
  height: 2.6em;
  padding: 0.1em 0;
  font-size: 8em;
  text-align: center;
  margin: 0 auto;
  text-shadow: 0 1px #464a52;
  border: 1px solid rgba(66,71,79,1);
  cursor: pointer;
  background: rgb(77,80,87);
  background: -moz-linear-gradient(top, rgba(77,80,87,1) 0%, rgba(66,71,79,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(77,80,87,1)), color-stop(100%,rgba(66,71,79,1)));
  background: -webkit-linear-gradient(top, rgba(77,80,87,1) 0%,rgba(66,71,79,1) 100%);
  background: -o-linear-gradient(top, rgba(77,80,87,1) 0%,rgba(66,71,79,1) 100%);
  background: -ms-linear-gradient(top, rgba(77,80,87,1) 0%,rgba(66,71,79,1) 100%);
  background: linear-gradient(to bottom, rgba(77,80,87,1) 0%,rgba(66,71,79,1) 100%);
  // filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d5057', endColorstr='#42474f',GradientType=0 );
}

.circle {
  background: radial-gradient(circle at 100px 100px, rgb(177, 207, 161), rgb(60, 119, 61));
  position: relative;
  top: .5em;
}
